$titleColor: #fccd10;
$inBackground: #3b3b3b;
$outBackground: rgba(198, 238, 252, 0.53);
$briefBackground: #fff178;
$letterColor: #fff;
$formColor: #f5c70f;
$buttonColor: #f5c70f;
$tableHeadBg: #94a34e;
$backgroundTable: #677d01;
$linkColor: #f5c70f;
$uppercase: uppercase;
$beriefMargin: 0 0 40px 0;
$beriefWidth: 96%;




