$titleColor: #893c00;
$inBackground: #fff;
$outBackground: #dcbb9a;
$briefBackground: #fadcba;
$letterColor: #000;
$formColor: #808080;
$buttonColor: #3d70a1;
$tableHeadBg: #e0e0e0;
$beriefMargin: 0 20px 0 0;
$beriefWidth: 40%;